#imgFlexDa1{
background-image: url(photos/daS.jpg);
background-size: 100%;
}
#imgFlexDa2{
background-image: url(photos/daD.webp);
background-size: 100%;
}
#imgFlexDa3{
background-image: url(photos/daG1.jpg);
background-size: 100%;
}
#imgFlexMu1{
background-image: url(photos/mS.jpg);
background-size: 100%;
}
#imgFlexMu2{
background-image: url(photos/mG.jpg);
background-size: 100%;
}
#imgFlexMu3{
background-image: url(photos/mA.jpg);
background-size: 100%;
}
#imgFlexDr1{
background-image: url(photos/DrNN.jpg);
background-size: 100%;
}
#imgFlexDr2{
background-image: url(photos/DrAM.jpg);
background-size: 100%;
}
#imgFlexDr3{
background-image: url(photos/DrMA.jpg);
background-size: 100%;
}
#imgFlexP1{
background-image: url(photos/pCC.jpg);
background-size: 100%;
}
#imgFlexP2{
background-image: url(photos/pCR.png);
background-size: 100%;
}
#imgFlexP3{
background-image: url(photos/pF.jpg);
background-size: 100%;
}
#imgFlexL1{
background-image: url(photos/lYP.jpg);
background-size: 100%;
}
#imgFlexL2{
background-image: url(photos/lCW.png);
background-size: 100%;
}
#imgFlexL3{
background-image: url(photos/lD.jpg);
background-size: 100%;
}
#imgFlexL4{
background-image: url(photos/lP.jfif);
background-size: 100%;
}
#imgFlexL5{
background-image: url(photos/lQ.jpg);
background-size: 100%;
}
#imgFlexA1{
background-image: url(photos/aP.jpg);
background-size: 100%;
}
#imgFlexA2{
background-image: url(photos/aR.jpg);
background-size: 100%;
}
#imgFlexA3{
background-image: url(photos/aS.jpg);
background-size: 100%;
}
#imgFlexA4{
background-image: url(photos/aFP.jpg);
background-size: 100%;
}
#imgFlexA5{
background-image: url(photos/aRW.webp);
background-size: 100%;
}
#imgFlexMi1{
background-image: url(photos/MiToW.jpg);
background-size: 100%;
}
#imgFlexMi2{
background-image: url(photos/MiTH.jpg);
background-size: 100%;
}
#imgFlexMi3{
background-image: url(photos/MiSU.jpg);
background-size: 100%;
}
#imgFlexMi4{
background-image: url(photos/MiMM.jfif);
background-size: 100%;
}
#imgFlexMi5{
background-image: url(photos/MiBP.webp);
background-size: 150%;
background-position: center;
}
