* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: transparent;
}

*::-moz-selection {
  background: transparent;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  cursor: default;
}

/* after clicking hamburger icon scrolling will disable */
.stopscrolling {
  overflow: hidden;
}
/* after clicking hamburger icon scrolling will disable */
body{
  overflow-x: hidden;
}
#navBar {
  display: flex;
  flex-direction: row;
  height: 80px;
}
.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
}

.tabs {
  background-color: transparent;
  width: 80%;
  height: 100%;
}
.tabs_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  cursor: pointer;
  color: white;
}
.tabs_button a {
  text-decoration: none;
  color: white;
}
.tabs_button2 a {
  text-decoration: none;
  color: white;
}
.tabs_button2 {
  display: none;
}

.tabs_button li {
  padding: 5px 15px;
  background-color: transparent;
  height: 40px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs_button li:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}
.tabs_button2 li:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
}

.loginbtn {
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  color: white;
  background-color: transparent;
}

.loginbtn:hover {
  background-color: white;
  color: black;
}


/* footer css started */
footer{
  /* background-image: url(kasra-assadian-QTiQ4ujnKeg-unsplash.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container{
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
  gap: 50px;
  background-color: rgba(28, 28, 28, 0.283);
}

.footer-top{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  /* background-color: red; */

}
.aquaregia-details-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  gap: 0px;
  /* background-color: #3b5998; */
}
.aquaregia-title-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.aquaregia-title-div article{
  width: 100%;
  font-size: 8rem;
  color: white;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.aquaregia-title-div p{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ddd;

}
.footer-content-heading{
  width: 100%;
  font-size:3rem;
  color: white;
  font-weight: 700;
  /* text-decoration: underline; */
  color: rgb(217, 0, 250);
}
.location-div{
  width: 100%;
  display: flex;
  height: fit-content;
  margin: 20px 0px;
}
.location-div a{
  text-decoration:none ;
  font-size: 2rem;
  color: #ddd;
  width: fit-content;

}
.location-div a:hover{
  text-decoration: underline;
  color: white;
}

.location-div i,.call-div i,.gmail-div i{
  width: 10%;
  height: fit-content;
  font-size: 2rem;
  color: #ddd;
}

.call-div{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.call-div a{
  text-decoration: none;
  font-size: 2.2rem;
  color: #ddd;
}
.call-div a:hover{
  text-decoration:underline;
  color: white;
}
.gmail-div{
  width: 100%;
  align-items: center;
  margin: 20px 0px;

}
.gmail-div a{
  text-decoration: none;
  color: #ddd;
  font-size: 2rem;
}
.gmail-div a:hover{
  text-decoration:underline;
  color: white;
}
.footer-tabs-container{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  /* padding-left:80px ; */
  /* background-color: blueviolet; */
}
.menu{
  text-align: center;
}
.socials{
  display: none;
}
.footer-tabs-container ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 0px;
  /* background-color: yellow; */
}
.footer-tabs-container ul li{
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  /* background-color: #fd5949; */
  text-align: center;
}
.footer-tabs-container ul li a{
  width: 50%;
  height: 30px;
  color: #ddd;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  position: relative;

}
.footer-tabs-container ul li a:before{
  content: "";
  height: 1px;
  background-color: #ddd;
  position: absolute;
  width: 100px;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition-duration: .5s;
  transform-origin: left;
}
.footer-tabs-container ul li a:hover{
  color: white;
}
.footer-tabs-container ul li a:hover::before{
  transform: scale(1);
  transition-duration: .5s;
}



.coordinators-main-container{
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-start;

}
.contact-us{
  text-align: end;
}

.coordinators-name{
  display: block;
  color: #ddd;
  font-size: 2rem;
  margin: 10px 0px;
  text-align: end;
  text-decoration: none;
}
.coordinators-name:hover{
  text-decoration: underline;
  color: white;
}

.social-media-logo-container-mini{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 800;
  /* background-color: red; */
  gap: 20px;
}
.social-media-logo{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icon-div{
  display: flex;
}
.social-media-logo-container-mini a{
  text-decoration: none;
}
.social-media-logo i{
  font-size: 3rem;
  color: #ddd;
  transition-duration: .3s;
}

.fa-youtube:hover{
  color: #ff0000;
  transition-duration: .3s;
}
.fa-instagram:hover{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: .3s;
}
.fa-facebook:hover{
  color: #3b5998;
  transition-duration: .3s;
}
.socialsformobile{
  display: none;
}
.footer-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer-bottom article{
  font-size: 1.5rem;
  color: rgb(166, 166, 166);
  font-weight: 700;
  word-spacing: 3px;
}


/* footer ends */
.hamburger{
  display: none;
}



#backtotopbutton{
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  border: none; 
  width: 8.5rem;
  height:8.5rem;
  font-size: 3rem;
  cursor: pointer;
  color: white;
  background-color: transparent;
  background-image: url(rocket-icon.svg);
  background-size: contain;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.585) ; */
  filter: drop-shadow(5px 10px 1px black);
  z-index: 101;
  text-align: center;
  transition: all .4s;
  
}

#backtotopbutton:hover{
  transform: translate(0px,-20px);
}
/* responsive code below*/
@media screen and (max-width:1920px) {
  html {
      font-size: 60%;
  }
}

@media screen and (max-width:1200px) {
  html {
      font-size: 60%;
  }
  #navbar-tabs{
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 15px;

  } 
  .coordinators-heading-text{
      color: white;
      font-size: 2.5rem;
      font-weight: 600;
      width: 70%;
  
  }
}

@media screen and (max-width:998px) {
  html {
      font-size: 55%;
  }
  #navBar{
     position: relative;
  }
  .hamburger{
      /* display: block; */
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }
  #hamburger-button{
      font-size: 3rem;
      font-weight: 800;
      width: 4.5rem;
      height: 3.5rem;
      background-color: transparent;

      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  .burger-bar{
      width: 100%;
      height:5px;
      background-color: white;
      border-radius: 0px;
      transition-duration: .3s;
  }
  .hamburger-animation1{
      transform: rotate(45deg);
      transition-duration: .3s;
      transform-origin: left;
      background-color: wwhite
  }
  .hamburger-animation2{
      width: 0;
      background-color: white;
      
  }
  .hamburger-animation3{
      transform: rotateZ(-45deg);
      transform-origin: left;
      transition-duration: .3s;
      background-color: white;
  
  }
 .tabs_button{

  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 1000px;
  top: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
  transition-duration: 1s;
 }

 @keyframes dropdownlist {
  0% {
      height: 0;
  }
  
}
 .show{
  /* display: block; */
  /* transform: translateX(0px); */
  left: 0;
  transition-duration: .5s;

 }

 .tabsbuttonclass{
  text-align: center;
  height: 40px;
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
  animation: tabsdelay .2s ease;
  /* display: none; */
 }
 @keyframes tabsdelay{
  0%{
  margin: -500px;
  /* display: none; */
 }
}
 .showmobiletabs{
  display: flex;
 }

 .loginbtn{
  margin-top: 30px;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  background-color: transparent;
  color: white;
 }
 .loginbtnformobilenav:hover{
  background-color: white;
  color: black;
 }

  .footer-container{
      gap: 0;
  }
  .footer-top{
      flex-direction: column;
      height: fit-content;
      padding-bottom: 0;
      gap: 25px;
  }
  .aquaregia-details-container{
      width: 100%;
      height: fit-content;
      order: 2;
  }
  .aquaregia-title-div{
   
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
  }
  
  .aquaregia-details-container i{
      width: 30px;
  }
  .directions,.menu,.contact-us,.socials{
      display: block;
      text-align: left;
      font-size: 3rem;
  }
 .location-div{
  margin: 10px 0px;
 }
 .call-div{
  margin: 10px 0px;
 }
 .gmail-div{
  margin: 10px 0px;
 }
  .aquaregia-title-div article,.aquaregia-title-div p{
      width: 100%;

      text-align: center;
  }
  .footer-tabs-container{
      width: 100%;
      height: fit-content;
      /* padding: 20px 0px; */
      align-items: flex-start;
      justify-content: flex-start;
      order: 3;
     
  }
  .footer-tabs-container ul{
      padding: 20px 0px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding:10px 0px;
      gap: 15px;


  }
  .footer-tabs-container ul li{
      width: fit-content;
      margin: 0;
      font-weight: 400;
  }
  
  .footer-tabs-container ul li a{
      padding: 0;
      width:fit-content;
      height: fit-content;
      text-align: center;
      font-weight: 400;
  }
  .footer-tabs-container ul .repeated-tabs{
      display: none;
      width: 0;
  }
  .footer-tabs-container ul li a:before{
      width: 0px;
      height: 0px;

    
  }
 
  .socialsformobile{
      width: 100%;
      height: fit-content;
      /* padding: 20px 0; */
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: center;
      gap: 35px;
      /* margin-bottom: 20px; */
      display: none;
  }
  .coordinators-main-container {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-bottom: 35px; */
    /* background-color: rgb(90, 8, 8); */
}
  .coordinators-name{
      width: 100%;
      text-align: left;
      font-weight: 400;
  }
  .footer-bottom{
      width: 100%;
      height: fit-content;
      padding: 30px;
  }
  .social-media-logo-container-mini{
      width: 100%;
      position:unset;
      left: 0;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content:flex-start;
      gap:15px;
      order: 4;
  }
  .social-media-icon-div{
      gap: 20px;
  }
  .social-media-logo{
      width: fit-content;
      height: fit-content;
  }
  
  .social-media-logo i{
      font-size:3rem;
      width: fit-content;
  }
  .socialsforpc{
    display: none;
  }
}

@media screen and (max-width:768px) {
  html {
      font-size: 50%;
  }
  .footer-container{
      padding: 20px;
      padding-bottom: 0;
  }
  .footer-bottom{
      padding: 20px 0;
  }
}
@media screen and (max-width:650px) {

.footer-container{
  margin-top: 50px;
}
}
@media screen and (max-width:500px) {
  html {
      font-size: 45%;
  }
  #navBar{
      padding: 0px 20px;
  }
  #hamburger{
      margin-right:20px ;
  }
  #navbar-tabs{
      width: 100%;
      justify-content: flex-start;
      gap: 40px;
      overflow: scroll;

  }
  
  
  .footer-tabs-container{
      margin-top: 0px;
      padding: 0;
  }
#backtotopbutton{
  width: 7.5rem;
  height: 7.5rem;
}

}



@media screen and (max-width:430px) {
  html {
      font-size: 44%;
  }
}

@media screen and (max-width:375px) {
  html {
      font-size: 43%;
  }
  #navBar{
      padding-left: 20px;
  }
  .hamburger{
      margin-right: 20px;
  }
}
@media screen and (max-width:300px) {
  html {
      font-size: 40%;
  }
  .footer-container{
      padding: 10px;
  }
}

/* responsive code above */