* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

#navBar {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 80px;
position:fixed;
width: 100%;
margin-top: -100px;

}
.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.tabs {
  background-color: transparent;
  width: 80%;
  height: 100%;}
 a{
  text-decoration:none;
  color: black;
}
.tabs_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.tabs_button li {
  padding: 7px;
  color: black;
}
.tabs_button li:hover {
    color: black;
    font-weight: 500;
    background-color: #ddd;
    border-radius: 20px;
}


.loginbtn {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  background-color: transparent;
}
.loginbtn:hover {
  background-color: black;
  color: white;
}