* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background: transparent;
}
 
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
}

body {
    background-color: white;
    overflow-x: hidden;
    background-color: black;
    background-image: url(galaxy.jpg);
    background-size: cover;
    background-position: center;
    
}



/* after clicking hamburger icon scrolling will disable */
.stopscrolling{
    overflow: hidden;
}
/* after clicking hamburger icon scrolling will disable */

#navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
}
.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
}

.tabs {
    background-color: transparent;
    width: 80%;
    height: 100%;
}
.tabs_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: white;
}
.tabs_button a{
    text-decoration: none;
    color: white;
}
.tabs_button2 a{
    text-decoration: none;
    color: white;
}
.tabs_button2 {
    display: none;
}

.tabs_button li {
    padding: 5px 15px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs_button li:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}
.tabs_button2 li:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
}

.hamburger{
    display: none;
}

.profile-btn {
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color:black;
    background-color: white;
    font-weight: 800;
    cursor: pointer;
}

.profile-btn:hover {
    background-color: #ddd;
    color: black;
}
/* main */
.big-daddy-profile-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 60px;
}
.profile-visual-container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(68, 68, 68);
    backdrop-filter: blur(20px);
}
.profile-image-div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.profile-image-div img{
    width: 150px;
    border: 1px solid white;
}
.name-and-id{
    width: 100%;
}
#username{
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
}
#user-given-id{
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
}
.profile-toggle-menu{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 50px;
}
.profile-toggle-menu li{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-tab{
    text-decoration: none;
    width: fit-content;
    height: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.unselected-tab{
    color: rgb(150, 150, 150);
    text-decoration: none;
    width: fit-content;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
}
.profile-text-info-container{
    width: 80%;
    height: 100%;
    display: flex;
    border: 1px solid rgb(68, 68, 68);
    backdrop-filter: blur(20px);
}

.personal-plus-college-details-merge-div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personal-details-section{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
}
.details-heading-div{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
#personal-details-heading{
    width: 70%;
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid white;
   

}
.personal-details-info-div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 80%;
    width: 100%;
}
.small-details-div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.small-details-div article,.small-details-div p{
    font-size: 2rem;
    width: 50%;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    color: white;
    font-weight: 600;
}
.college-details-section{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
}
#college-details-heading{
    width: 70%;
    height: fit-content;
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid white;
}
.college-details-info-div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    gap: 10px;
    height: 80%;
    width: 100%;
}
.collegeId-logout-btn-merge-section{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}
.college-id-section{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 20px;
    position: relative;


}
.college-id-section::before{
    content: "";
    position: absolute;
    background-color: rgb(27, 27, 27);
    width: 2px;
    height: 300px;
    left: 0;
    top: 100px;
    border-radius: 50%;
}
.college-id-heading{
    width: 70%;
    height: fit-content;
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid white;
}
.college-id-section img{
    width: 200px;
    height: 300px;
    border: 1px solid white;
}
.delete-btn{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    margin: auto;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: rgb(210, 4, 4);
}
.logout-btn-section{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
   
}
.logout-btn{
    width: 150px;
    height: 40px;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.logout-btn:hover{
    background-color: #ddd;
}




/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
    body{
        background-size: cover;
    }
    #navBar{
        position: relative;
     }
     .hamburger{
         /* display: block; */
         position: absolute;
         top: 0;
         right: 0;
         width: 10%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 9999;
     }
     #hamburger-button{
         font-size: 3rem;
         font-weight: 800;
         width: 4.5rem;
         height: 3.5rem;
         background-color: transparent;
 
         border: none;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
     }
     .burger-bar{
         width: 100%;
         height:5px;
         background-color: white;
         border-radius: 0px;
         transition-duration: .3s;
     }
     .hamburger-animation1{
         transform: rotate(45deg);
         transition-duration: .3s;
         transform-origin: left;
         background-color: white;
     }
     .hamburger-animation2{
         width: 0;
         background-color: white;
         
     }
     .hamburger-animation3{
         transform: rotateZ(-45deg);
         transform-origin: left;
         transition-duration: .3s;
         background-color: white;
     
     }
     
  
 
    
    .tabs_button{
     display: none;
    }
    .tabs_button2{
     z-index: 999;
     height: 100%;
     width: 100%;
     position: fixed;
     top: 0;
     right: 0;
     display: none;
     background-color: black;
     color: white;
     text-decoration: none;
     list-style: none;
     font-size: 2rem;
     cursor: pointer;
     animation: dropdownlist .3s linear;
     
    }
    @keyframes dropdownlist {
     0% {
         height: 0;
     }
     
 }
    .show{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        margin-top: 0;

        padding: 0;

    }
    .hamburger-a-div {
        width: 100%;

        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .hamburger-a-div a{
    text-decoration: none;
    width: fit-content;
    height: 40px;


  }
    .tabsbuttonclass{
     text-align: center;
     height: 40px;
     width: 120px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     animation: tabsdelay .2s ease;
     display: none;
    }

    @keyframes tabsdelay{
     0%{
     margin: -0px;
    }
 }
    .showmobiletabs{
     display: flex;
    }
    .profilebtndiv{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 200px;
    }
    .profilebtndiv a{
        width: fit-content;
        height: fit-content;
    }
    .logout-btn-section{
        display: none;
    }
.mobile-logout-btn-section{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
}
.mobile-logout-btn{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}
.mobile-logout-btn:hover{
    background-color:white;
    color: black;
}
    .profilebtnformobilenav{
     font-size: 2rem;
     border: 2px solid white;
     border-radius: 50%;
     height: 60px;
     width: 60px;
     background-color: white;
     color: black;
     font-weight: 800;
    }
    .profilebtnformobilenav:hover{
     background-color: white;
     color: black;
    }
    .big-daddy-profile-container{
        flex-direction: column;
        padding:25px;
        gap: 10px;
        height: fit-content;
    }
    .profile-visual-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        gap: 20px;
        backdrop-filter: blur(0);
    }
    .profile-image-div{
        width: 100%;
        flex-direction: row;
        height: fit-content;
        padding: 40px;
    }
    .name-and-id{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }
    #username,#user-given-id{
        width: fit-content;
        height: fit-content;
    }
    .profile-toggle-menu{
        flex-direction: row;
        width: 100%;
        height: fit-content;
        padding: 20px;
        padding-bottom: 5px;
        align-items: center;
        justify-content: center;
        gap: 100px;
        border-bottom: 1px solid rgb(67, 67, 67);
    }
    .profile-toggle-menu li{
        width: fit-content;
        height: fit-content;
    }
    .profile-text-info-container{
        width: 100%;
        height: 700px;
        backdrop-filter: blur(0);
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
    .college-id-section::before{
        display: none;
    }
    .profile-text-info-container{
        height: fit-content;
        flex-direction: column;
    }
    .personal-plus-college-details-merge-div{
        width: 100%;
    }
    .small-details-div{
        width: 100%;
    }
    .details-heading-div{
        width: 100%;
    }
    #college-details-heading,#personal-details-heading{
        width: 100%;
    }
    .collegeId-logout-btn-merge-section{
        width: 100%;
        height: fit-content;

    }
    .college-id-heading{
        width: 100%;
    }
    .small-details-div article{
        width: 30%;
    }
    .small-details-div p{
        width: 70%;
    }
 
}

@media screen and (max-width:500px) {
    html {
        font-size: 45%;  
    }
    body{
        background-image: none;
        background-color: black;
    }
    #navBar{
        padding: 0px 20px;
    }
    #hamburger{
        margin-right:20px ;
    }
    #navbar-tabs{
        width: 100%;
        justify-content: flex-start;
        gap: 40px;
        overflow: scroll;

    }
    .profile-visual-container{
        border: none;
    }
    .profile-text-info-container{
        border: none;
    }
    .profile-image-div{
        height: fit-content;
        padding: 0px 20px;
    }
    .profile-image-div img{
        width: 70px;
    }
    .profile-toggle-menu{
        gap: 40px;
    }
    .profile-text-info-container{
        padding: 0;
    }
    .personal-plus-college-details-merge-div{
        padding: 0;
        width: 100%;
    }
    .college-details-info-div{
        padding: 0; 
    }
    .college-details-section{
        padding: 0px;
    }
    .personal-details-section{
        padding: 0px;
    }
    .collegeId-logout-btn-merge-section{
        padding: 0px;
    }
    .college-id-section{
        padding: 0;
    }
    .details-heading-div{
        padding: 0;
    }
    .logout-btn-section{
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 0;
    }
    .logout-btn{
        width: 100%;
    }

}

@media screen and (max-width:430px) {
    html {
        font-size: 43%;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }
    #navBar{
        padding-left: 20px;
    }
    .hamburger{
        margin-right: 20px;
    }
    .profile-image-div{
        padding: 0;
    }
    .profile-image-div img{
        width: 60px;
    }
    .name-and-id{
        height: fit-content;
        width: 80%;
        padding: 0;
        padding-left: 10px;
    }
    #email-address{
        word-wrap: break-word;
        line-break:anywhere;
        height: fit-content;
        width: 70%;
    }
}