@font-face {
    font-family: cmFont;
    src: url(CmFont-BWVm5.ttf);
}
@font-face {
    font-family: space;
    src: url(SpaceMavericks-qZo91.ttf);
}
@font-face {
    font-family: spaceFrig;
    src: url(SpaceFrigate-KVdW.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background: transparent;
}
 
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
}

body {
    background-color: white;
    overflow-x: hidden;
    background-image: url(Stars-background-dark.svg);
    background-size: 60%;
}
 #preloader {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
} 
#infinity-logo{
    background-image: url(infinity-logo-png.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    /* mix-blend-mode: difference; */
    width: 100px;
    height: 100px;
    /* background-color: red; */

    
    /* filter:drop-shadow(0px 0px 2px rgb(214, 202, 250))
    drop-shadow(0px 0px 5px rgb(151, 116, 255))
    drop-shadow(0px 0px 10px rgb(116, 71, 251))
    drop-shadow(0px 0px 15px rgba(64, 0, 255, 0.81)); */
}

/* after clicking hamburger icon scrolling will disable */
.stopscrolling{
    overflow: hidden;
}
/* after clicking hamburger icon scrolling will disable */

#navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
}
.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
}

.tabs {
    background-color: transparent;
    width: 80%;
    height: 100%;
}
.tabs_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: white;
}
.tabs_button a{
    text-decoration: none;
    color: white;
}
.tabs_button2 a{
    text-decoration: none;
    color: white;
}
.tabs_button2 {
    display: none;
}

.tabs_button li {
    padding: 5px 15px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.tabs_button li:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}
.tabs_button2 li:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
}

.loginbtn {
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: transparent;
}

.loginbtn:hover {
    background-color: white;
    color: black;
}

.aquaregiaTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url(infinity-sign-pc.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    mix-blend-mode:lighten;
}

#aquaregiaTitle {
    font-size: 10rem;
    color: white;
    font-weight: 800;
    mix-blend-mode: difference;
    
}

#toInfinity {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    mix-blend-mode: difference;
}
.book-slot-btn-container{
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bookSlotBtn {
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    letter-spacing: 3px;
    color: white;
    transition-duration: .2s;
    font-weight: 600;
    mix-blend-mode: difference;
}

#bookSlotBtn:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);

}

.aboutMainContainer {
    margin-top: 300px;
    width: 100%;
    height: 800px;
    display: flex;
}



#bigFlex {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;


}

#flex1,
#flex3 {
    height: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#flex2 {
    height: 33.33%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
    z-index: 99;
}


#infoCircle1{
    background-image: url(redPlanet.svg);
    background-position: center;
    background-size: 103%;
    background-repeat: no-repeat;
    /* border: 10px solid black; */
}
#infoCircle2{
    background-image: url(bluePlanet.svg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    border: 10px solid black;
}
#infoCircle3{
    background-image: url(greenPlanet.svg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    /* border: 10px solid rgb(229, 0, 0); */
}
#infoCircle1 ,
#infoCircle2 ,
#infoCircle3  {
    height: 250px;
    width: 250px;
    backdrop-filter: blur(7px);
    background-color:rgba(250, 250, 250, 0.015);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: .5s;
}
#infoCircle1:hover {
    transform:translate(-10px,-10px);
    transition-duration: .5s;
}
#infoCircle2:hover {
    transform:translate(-10px,0px);
    transition-duration: .5s;
}
#infoCircle3:hover  {    
    transform:translate(-10px,10px);
    transition-duration: .5s;

    }
    #infoCircle1 span,
    #infoCircle2 span,
    #infoCircle3  span{
        font-size: 4rem;
        font-weight: 700;
        color: white;
        font-family: spaceFrig;
    }
    #infoCircle1 p,
    #infoCircle2 p,
    #infoCircle3 p{
        font-size: 3rem;
        letter-spacing: 3px;
        font-weight: 500;
        color: white;
    }

#about {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#aboutCircle {
   
    height: 900px;
    width: 900px;
 

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    position: relative;
    text-align: center;
   margin-left: 20px;
}
#aboutCircle p{

    /* background-color: red   ; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* letter-spacing: 3px; */
    margin-bottom: 100px;
    width: 55%;
    font-size: 1.6rem;
    
    color: #edb1e6;
    font-weight: 300;
    letter-spacing: 3px;
}

#aboutCircle:hover{
    transform: scale(1.1);
    transition-duration: .5s;
    /* rotate: -5deg; */
    
}
#aboutCircle::before{
    content:"";
    height:100%;
    width: 900px;
    border-radius: 50%;
    transition-duration: .5s;
    position: absolute;
    z-index: -1;
    background-image: url(pngwing.com.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

@keyframes blackHoleSpin{
    0%{
        transform:  rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#aboutCircle:hover::before{
    transform: scale(1.1);
    transition-duration: .5s;
    rotate: -2deg;
        animation: blackHoleSpin 300s linear infinite;
    animation-fill-mode: forwards;
}
#aboutCircle span{ 
    font-size: 5rem ;
    font-weight: 800;
    color: white;
    margin-bottom: 50px;
    letter-spacing: 10px;
    font-family: spaceFrig;
    filter: drop-shadow(0px 0px 2px #ccae8a);
}


.majorAttractionsMaincontainer{
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding-right: 40px;
}

#major-attraction-smallnavbar::-webkit-scrollbar{
    display: none;
}
#navbar-tabs::-webkit-scrollbar{
    display: none;
}
#major-attraction-smallnavbar{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#navbar-tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
#navbar-tabs li{
    font-size: 2.5rem;
    color: white;
    font-weight: 200;
    padding: 2px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
}
#navbar-tabs li:hover{
    border: 1px solid white;
    color: white;

}


#attraction-slider{
margin-top: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
    gap: 30px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.image-div{
   width: fit-content;
   height: fit-content;
   scroll-snap-align: start;
}
.image-div img{
    height: 300px;
    transition-duration: 0.3s;
   
}
.image-div img:hover{
    transform:scale(1.05);
   
}
#attraction-slider::-webkit-scrollbar{
    display: none;
}
.active-tab{
    border: 1px solid white;
    color: white;
}
.two-Lines-About-Aquaregia-Theme-Container{
    margin-top: 200px;
  
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.two-Lines-Sub-Div{
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    background-image: url(pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    overflow: hidden;
}
.two-Lines-Sub-Div-Logo{
    width: 350px;
    height: 350px;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(57, 57, 57);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.two-Lines-Sub-Div-Description-main-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 70px;

}
#two-Lines-Sub-Div-Title{
    font-size: 6rem;
    width: 100%;
    color: white;
    font-weight: 500;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   letter-spacing: 10px;
  
}
#two-Lines-Sub-Div-Description{
    font-size: 2rem;
    color: white;
}
#two-Lines-Sub-Div-ul{
    list-style: none;
    display:flex;
    font-size: 2rem;
    color: white;
    justify-content: space-between;
    font-weight:700;
    width: 100%;
    height: fit-content;
    align-items: center;
}
#two-Lines-Sub-Div-ul li{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#two-Lines-Sub-Div-li1{
    padding-left: 0px;
}
#two-Lines-Sub-Div-li2{
    border-left: 2px solid white;
    border-right: 2px solid white;
      padding: 0px 40px;
}

.category-heading{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 500;
    margin:150px 0px 50px 0;
    letter-spacing: 2px;
    /* font-family: fastHand; */
}
.category-container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.profile-card{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    background-color: rgba(33, 33, 33, 0.467);
    padding:20px 0px;
    transform-style: preserve-3d;
    border-radius: 10px;
    gap: 20px;  
}
.dp{
    height: 100%;
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dp img{
    height: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    transform: translateZ(0px);
}


.name{
    color: white;
    font-size: 1.5rem;
}

.fest-post{
    color: white;
    font-size: 1rem;
}

/* footer css started */
footer{
    /* background-image: url(kasra-assadian-QTiQ4ujnKeg-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-container{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    gap: 50px;
    background-color: rgba(28, 28, 28, 0.299);
}

.footer-top{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    /* background-color: red; */

}
.aquaregia-details-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 0px;
    /* background-color: #3b5998; */
}
.aquaregia-title-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
}
.aquaregia-title-div article{
    width: 100%;
    font-size: 8rem;
    color: white;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.aquaregia-title-div p{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    color: #ddd;

}
.footer-content-heading{
    width: 100%;
    font-size:3rem;
    color: white;
    font-weight: 700;
    color: rgb(129, 0, 250);
}
.location-div{
    width: 100%;
    display: flex;
    height: fit-content;
    margin: 20px 0px;
}
.location-div a{
    text-decoration:none ;
    font-size: 2rem;
    color: #ddd;
    width: fit-content;

}
.location-div a:hover{
    text-decoration: underline;
    color: white;
}

.location-div i,.call-div i,.gmail-div i{
    width: 10%;
    height: fit-content;
    font-size: 2rem;
    color: #ddd;
}

.call-div{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.call-div a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #ddd;
}
.call-div a:hover{
    text-decoration:underline;
    color: white;
}
.gmail-div{
    width: 100%;
    align-items: center;
    margin: 20px 0px;

}
.gmail-div a{
    text-decoration: none;
    color: #ddd;
    font-size: 2rem;
}
.gmail-div a:hover{
    text-decoration:underline;
    color: white;
}
.footer-tabs-container{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    /* padding-left:80px ; */
    /* background-color: blueviolet; */
}
.menu{
    text-align: center;
}
.socials{
    display: none;
}
.footer-tabs-container ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 0px;
    /* background-color: yellow; */
}
.footer-tabs-container ul li{
    list-style: none;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    /* background-color: #fd5949; */
    text-align: center;
}
.footer-tabs-container ul li a{
    width: 50%;
    height: 30px;
    color: #ddd;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    position: relative;

}
.footer-tabs-container ul li a:before{
    content: "";
    height: 1px;
    background-color: #ddd;
    position: absolute;
    width: 100px;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition-duration: .5s;
    transform-origin: left;
}
.footer-tabs-container ul li a:hover{
    color: white;
}
.footer-tabs-container ul li a:hover::before{
    transform: scale(1);
    transition-duration: .5s;
}



.coordinators-main-container{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-start;
    /* background-color: rgb(90, 8, 8); */
}
.contact-us{
    text-align: end;
}

.coordinators-name{
    display: block;
    color: #ddd;
    font-size: 2rem;
    margin: 10px 0px;
    text-align: end;
    text-decoration: none;
}
.coordinators-name:hover{
    text-decoration: underline;
    color: white;
}

.social-media-logo-container-mini{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 800;
    /* background-color: red; */
    gap: 20px;
}
.social-media-logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-icon-div{
    display: flex;
}
.social-media-logo-container-mini a{
    text-decoration: none;
}
.social-media-logo i{
    font-size: 3rem;
    color: #ddd;
    transition-duration: .3s;
}

.fa-youtube:hover{
    color: #ff0000;
    transition-duration: .3s;
}
.fa-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: .3s;
}
.fa-facebook:hover{
    color: #3b5998;
    transition-duration: .3s;
}
.footer-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.footer-bottom article{
    font-size: 1.5rem;
    color: rgb(166, 166, 166);
    font-weight: 700;
    word-spacing: 3px;
}
/* footer ends */
.hamburger{
    display: none;
}



#backtotopbutton{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: none; 
    width: 8.5rem;
    height:8.5rem;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    background-color: transparent;
    background-image: url(rocket-icon.svg);
    background-size: contain;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.585) ; */
    filter: drop-shadow(5px 10px 1px black);
    z-index: 101;
    text-align: center;
    transition: all .4s;
    
}

#backtotopbutton:hover{
    transform: translate(0px,-20px);
}
.major-attraction-title-for-mobile-div{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
#major-attraction-title-for-mobile{
    font-size: 3rem;
    color: white;
}
/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
    .bar1{
        -webkit-animation: slideranimation 20s ease-in-out infinite alternate;
        animation: slideranimation 20s ease-in-out infinite alternate;
    }
    .bar2{
        -webkit-animation: slideranimation2 20s ease-in-out infinite alternate;
        animation: slideranimation2 20s ease-in-out infinite alternate;
    }
    @keyframes slideranimation2 {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
        }
    }
    @keyframes slideranimation {
        0% {
            -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}
@media screen and (max-width:1450px) {
    html {
        font-size: 60%;
    }
.two-Lines-Sub-Div{
    width: 80%;
}    
    
}

@media screen and (max-width:1200px) {
    html {
        font-size: 60%;
    }
   
    #navbar-tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 15px;

    }
    .two-Lines-Sub-Div{
        width: 95%;
    }  
    
    
}

@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
    #navBar{
       position: relative;
    }
    .hamburger{
        /* display: block; */
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }
    #hamburger-button{
        font-size: 3rem;
        font-weight: 800;
        width: 4.5rem;
        height: 3.5rem;
        background-color: transparent;

        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .burger-bar{
        width: 100%;
        height:5px;
        background-color: white;
        border-radius: 0px;
        transition-duration: .3s;
    }
    .hamburger-animation1{
        transform: rotate(45deg);
        transition-duration: .3s;
        transform-origin: left;
        background-color: white;
    }
    .hamburger-animation2{
        width: 0;
        background-color: white;
        
    }
    .hamburger-animation3{
        transform: rotateZ(-45deg);
        transform-origin: left;
        transition-duration: .3s;
        background-color: white;
    
    }
    
 

   
   .tabs_button{
    display: none;
   }
   .tabs_button2{
    z-index: 999;
    padding-top:100px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    background-color: black;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    cursor: pointer;
    animation: dropdownlist .3s linear;
    
   }
   @keyframes dropdownlist {
    0% {
        height: 0;
    }
    
}
   .show{
    display: block;
   }
 
   .tabsbuttonclass{
    text-align: center;
    height: 40px;
    width: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    animation: tabsdelay .2s ease;
    display: none;
   }
   @keyframes tabsdelay{
    0%{
    margin: -500px;
    /* display: none; */
   }
}
   .showmobiletabs{
    display: flex;
   }
   .loginbtndiv{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .loginbtnformobilenav{
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: transparent;
    color: white;
   }
   .loginbtnformobilenav:hover{
    background-color: white;
    color: black;
   }
   #homeformobilenav{
    background-color: white;
    color: black;
    border-radius: 20px;
   }
   .aquaregiaTitleContainer{
    background-image: url(infinity-sign-gif-mobie.gif);
   }
    .aboutMainContainer {
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }
    #about {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      

    }
    #bigFlex {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 400px;
    }
    #flex1,#flex2,#flex3{
        
        height: 100%;
        width: 33.33%;
    }
    #flex1,#flex3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #flex2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }
    .footer-container{
        gap: 0;
    }
    .footer-top{
        flex-direction: column;
        height: fit-content;
        padding-bottom: 0;
        gap: 35px;
    }
    .aquaregia-details-container{
        width: 100%;
        height: fit-content;
    }
    .aquaregia-title-div{
     
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    
    .aquaregia-details-container i{
        width: 30px;
    }
    .directions,.menu,.contact-us,.socials{
        display: block;
        text-align: left;
        font-size:3rem;
        text-decoration: none;
        

    }
   .location-div{
    margin: 10px 0px;
   }
   .call-div{
    margin: 10px 0px;
   }
   .gmail-div{
    margin: 10px 0px;
   }
    .aquaregia-title-div article,.aquaregia-title-div p{
        width: 100%;

        text-align: center;
    }
    .footer-tabs-container{
        width: 100%;
        height: fit-content;
        /* padding: 20px 0px; */
        align-items: flex-start;
        justify-content: flex-start;
       
    }
    .footer-tabs-container ul{
        padding: 20px 0px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding:10px 0px;
        gap: 15px;


    }
    .footer-tabs-container ul li{
        width: fit-content;
        margin: 0;
        font-weight: 400;
    }
    
    .footer-tabs-container ul li a{
        padding: 0;
        width:fit-content;
        height: fit-content;
        text-align: center;
        font-weight: 400;
    }
    .footer-tabs-container ul .repeated-tabs{
        display: none;
        width: 0;
    }
    .footer-tabs-container ul li a:before{
        width: 0px;
        height: 0px;

      
    }
    .coordinators-main-container{
        width: 100%;
        height: fit-content;
        /* padding: 20px 0; */
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        gap: 35px;
        margin-bottom: 20px;
    }
    .coordinators-name{
        width: 100%;
        text-align: left;
        font-weight: 400;

    }
    .footer-bottom{
        width: 100%;
        height: fit-content;
        padding: 30px;
    }
    .social-media-logo-container-mini{
        width: 100%;
        position:unset;
        left: 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        gap:15px;
    }
    .social-media-icon-div{
        gap: 20px;
    }
    .social-media-logo{
        width: fit-content;
        height: fit-content;
    }
    
    .social-media-logo i{
        font-size:3rem;
        width: fit-content;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
    .book-slot-btn-container{
        padding: 50px;
        align-items: flex-start;
    }
    #about {
        width: 100%;
        height:800px;
        position: relative;
    }
    .aquaregiaTitleContainer {
        background-size: 100vh;
        
    }
    .aboutMainContainer {
        margin-top: 150px;
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }
    #aboutCircle span{
        font-size: 5.5rem;
}
    #aboutCircle p{
        width: 75%;
        font-size: 2rem;
}
    #bigFlex {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

    }
    #flex1,#flex2,#flex3{
        height: 33.33%;
        width: 100%;
        /* overflow: hidden; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
       
    }
   
   
    
    #infoCircle1 {
            position:relative;
            right: 130px;

    }
    #infoCircle2 {
        position:relative;
        left: 140px; 
    }
    #infoCircle3 {
        position:relative;
        right: 100px;

    }
    .two-Lines-Sub-Div-Logo{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .two-Lines-Sub-Div{
        width: 350px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    .two-Lines-Sub-Div-Description-main-div{
        width: 100%;
        padding: 40px;
        
    }
    #two-Lines-Sub-Div-Title{
        text-align: center;
    }
    #two-Lines-Sub-Div-Description{
        text-align: center;
    }
    #two-Lines-Sub-Div-ul{
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        padding-top: 50px;
    }
    #two-Lines-Sub-Div-ul #two-Lines-Sub-Div-li2{
        border: none;
    }
    #two-Lines-Sub-Div-ul #two-Lines-Sub-Div-li3{
        display: none;
    }
    .majorAttractionsMaincontainer{
        margin-top: 50px;
    }
    .major-attraction-smallnavbar{
        width: fit-content;
        overflow: scroll;
    }
   
    .footer-container{
        padding: 20px;
        padding-bottom: 0;
    }
    .footer-bottom{
        padding: 20px 0;
    }
}

@media screen and (max-width:650px) {
    #aboutCircle p{
        width: 85%;
        font-size: 2rem;
}
.footer-container{
    margin-top: 50px;
}
}
@media screen and (max-width:500px) {
    html {
        font-size: 45%;
    }
    body{
        background-size: 110vh;
    }
    .aquaregiaTitleContainer {
        background-size: 100vh;
        
    }
    #infoCircle1 ,
    #infoCircle3{
        margin-left: 500px;
        padding-right: 200px;
    }
    #infoCircle2{
        margin-right: 500px;
        padding-left: 150px;
    }
    #major-attraction-smallnavbar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        overflow: scroll;
    }
    #navBar{
        padding: 0px 20px;
    }
    #hamburger{
        margin-right:20px ;
    }
    #navbar-tabs{
        width: 100%;
        justify-content: flex-start;
        gap: 40px;
        overflow: scroll;

    }
    .aboutMainContainer {
        margin-top: 100px;
    }
   
    .majorAttractionsMaincontainer{
        margin-top: 50px;
    }
    .two-Lines-Sub-Div{
        background-image: url(pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }
    .two-Lines-Sub-Div-Description-main-div{
        height: fit-content;
    }
    #two-Lines-Sub-Div-Description{
        height: fit-content;
        margin-top: 20px;
    }
    .name{
        color: white;
        font-size: 2rem;
    }
    .fest-post{
        color: white;
        font-size: 1.3rem;
    }
    .category-container
    {
        padding:0px 20px;
        gap: 50px;
    }
    .category-heading{   
    font-size: 2.5rem;
    margin:50px 0px;
    }
    .one-heading{
        margin:100px 0px 50px 0px;
    }
    .footer-tabs-container{
        margin-top: 0px;
        padding: 0;
    }
#backtotopbutton{
    width: 7.5rem;
    height: 7.5rem;
}
.bar1{
    -webkit-animation: slideranimation 50s ease-in-out infinite alternate;
    animation: slideranimation 50s ease-in-out infinite alternate;
}
.bar2{
    -webkit-animation: slideranimation2 50s ease-in-out infinite alternate;
    animation: slideranimation2 50s ease-in-out infinite alternate;
}

}


@media screen and (max-width:430px) {
    html {
        font-size: 44%;
    }
    #infoCircle1 ,
    #infoCircle3{
        margin-left: 400px;
        padding-right: 150px;
    }
    #infoCircle2{
        margin-right: 400px;
        padding-left: 150px;
    }
    #aboutCircle p{
        width: 95%;

    }
    .two-Lines-Sub-Div{
        width: 300px;
    }
    .two-Lines-Sub-Div-Logo{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 43%;
    }
    #aboutCircle p{
        width: 95%;

    }
    #infoCircle1 ,
    #infoCircle3{
       right: 160px;
    }
    #infoCircle2{
        left: 160px;
    }
    #aquaregiaTitle{
        font-size: 8rem;
    }
    #navBar{
        padding-left: 20px;
    }
    .hamburger{
        margin-right: 20px;
    }
}
@media screen and (max-width:300px) {
    html {
        font-size: 40%;
    }
    .two-Lines-Sub-Div{
        width: 100%;
    }
    .two-Lines-Sub-Div-Logo{
        width: 100%;
    }

}
@media screen and (max-height:650px) and (max-width:350px){
    .book-slot-btn-container{
        align-items: flex-end;

    }
}
@media screen and (max-height:600px) and (max-width:900px){
    .book-slot-btn-container{
        position: absolute;
        height: fit-content;
        margin-bottom: -100px;

    }
}
/* responsive code above */

